body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Pxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

::-webkit-scrollbar {
  width: 11px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-track {
  background: #7a7a7a;
  border-radius: 4px;
}

/* General CSS */

.box-shadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}