html,
body {
  background-color: #21232a;
  color: white;
  font-family: Helvetica, sans-serif, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

button {
  background-color: #61dafb;
  border-radius: 10px;
  color: #282c34;
  font-size: 1.3rem;
  padding: 15px;
  margin-right: 7px;
}
